@import "nav.css";
@import "card1.css";
@import "footer.css";




/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');


html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px bold;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
}

h3{
    margin-top: 60%;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}



